{% extends "base.html" %}

{% block title %}Home | District Court Faridabad{% endblock %}

{% block content %}
<div class="form-container">
    <h2>About District Court</h2>
    <p>
        The city of Faridabad was founded in the year 1607 by Shaikh Farid, also known as Baba Farid.
        He was an eminent Sufi saint and was also the treasurer of the Mughal emperor, Jahangir.
        The city was established in order to protect the Grand Trunk Road. It was later announced as the
        headquarters of Faridabad Pargana, which was under the rule of Ballabgarh.
    </p>
    <p>
        Tewatia Jat Sardar Gopal Singh attacked the city after the death of Aurangzeb. He established a treaty
        with Murtija Khan, the Mughal officer of Faridabad, and became the Chaudhary of the Pargana.
        After the Mughal rule, it was taken over by the British.
    </p>
    <p>
        In 1950, after the partition of India, there was a large influx of refugees from Pakistan. Industries were
        established in order to rehabilitate them. After that, people from different communities, regions and
        religions also settled in Faridabad.
    </p>
    <p>
        Initially, it was a part of the district of Gurgaon. On 15th August 1979, Faridabad was established as a
        separate district. Today, the city is home to a number of large scale industries, ranging from manufacturing
        to the IT sector.
    </p>
    <p>
        District Courts, Faridabad came into existence on 08.12.1980 with Shri A.P. Chaudhary as the first District Judge.
    </p>
</div>
{% endblock %}
